---

---

<footer class="bottom-0 left-0 right-0 text-white bg-black">
  <div class="grid p-8">
    <h2 class="text-4xl">Referencias</h2>
    <section class="p-4">
      <button class="flex gap-4 hover:text-blue-400">
        <h3>Repositorio Github</h3>
        <img src="/GitHub.svg" alt="" class="h-8" />
      </button>
    </section>
  </div>
</footer>
