---
import DarkMode from "@components/ButtonDarkMode";
---

<nav
  class="fixed top-0 left-0 right-0 flex justify-between text-white bg-rose-800"
>
  <h1 class="m-4 text-2xl font-bold">Challenges Junior</h1>
  <div class="flex items-center gap-4 m-4 text-lg md:gap-8 md:text-xl">
    <a href="../../" class="hover:text-blue-500">Inicio</a>
    <a href="../../" class="hover:text-blue-500">¿Que es?</a>
    <a href="../../" class="hover:text-blue-500">Herramientas</a>
    <DarkMode client:load />
  </div>
</nav>
