---
import DarkMode from "@components/ButtonDarkMode";
---

<nav
  class="fixed top-0 left-0 right-0 z-10 flex justify-between text-white bg-blue-700"
>
  <a href="../../" class="m-4 text-2xl font-bold">Challenges Junior</a>
  <div class="flex items-center gap-4 m-4 text-lg md:gap-8 md:text-xl">
    <DarkMode client:load />
  </div>
</nav>
