---
import Layout from "src/layouts/Layout.astro";
import NavBar from "@pages/components/NavBar.astro";
import Footer from "@pages/components/Footer.astro";

import ListChallenges from "@components/ListChallengesComp";
---

<Layout>
  <NavBar />
  <section class="h-full dark:bg-darkMode">
    <ListChallenges client:load />
  </section>
  <Footer />
</Layout>
