---
import Layout from "src/layouts/Layout.astro";
import NavBar from "@pages/components/NavBar.astro";
import Footer from "@pages/components/Footer.astro";
import ProgressBar from "@components/challenge5/ProgressBar";
---

<Layout>
  <NavBar />
  <div class="flex flex-col p-24 pb-40 space-y-8 dark:bg-darkMode">
    <h1 class="text-5xl font-bold text-center dark:text-white">Challange 3</h1>
    <h3 class="text-2xl text-center dark:text-white">Barra de Progreso</h3>
    <p class="text-lg text-justify dark:text-white">
      Se trata de una barra de progreso que se podrá llenar automaticamente
      según los parametros.
    </p>
    <ProgressBar client:load />
  </div>
  <Footer />
</Layout>
